In [2]:
import pandas as pd
import numpy as np

In [4]:
labels = ['a', 'b', 'c']

In [7]:
minha_lista = [10, 20, 30]
arr = np.array([10,20,30])
d = {'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(data = minha_lista, index = labels)

a    10
b    20
c    30
dtype: int64

In [10]:
series = pd.Series(data = minha_lista, index = labels)

In [12]:
series['b']

np.int64(20)

In [14]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [16]:
ser1 = pd.Series([1,2,3,4], ['EUA', 'Alemanha', 'URSS', 'Japao'])

In [17]:
ser1

EUA         1
Alemanha    2
URSS        3
Japao       4
dtype: int64

In [18]:
ser2 = pd.Series([1,2,3,4], ['EUA', 'Alemanha', 'Italia', 'Japao'])

In [19]:
ser2

EUA         1
Alemanha    2
Italia      3
Japao       4
dtype: int64

In [20]:
ser1 + ser2

Alemanha    4.0
EUA         2.0
Italia      NaN
Japao       8.0
URSS        NaN
dtype: float64

SEGUNDO VIDEO

In [23]:
np.random.seed(101)

In [57]:
df = pd.DataFrame(np.random.randn(5,4), 'A B C D E'.split(), 'W X Y Z'.split())

In [26]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [30]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [31]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [58]:
df['new'] = df['W'] + df['X']

In [59]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421
E -0.925874  1.862864 -1.133817  0.610478  0.936990

In [60]:
df.drop('new', axis = 1, inplace = True)

In [61]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [63]:
df.loc[['A', 'B'], ['X', 'Y', 'Z']]

          X         Y         Z
A  0.196800 -1.136645  0.000366
B -0.156598 -0.031579  0.649826

In [66]:
df.iloc[1:4, 2:]

          Y         Z
B -0.031579  0.649826
C -0.755325 -0.346419
D  0.558769  1.024810