Exercicios - Salarios de Sao Francisco

In [1]:
import pandas as pd

Leia o arquivo Salaries.csv como um DF chama "sal"

In [2]:
sal = pd.read_csv('Salaries.csv')

Verifique o head do DF

In [29]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Tamanho_String
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44

Use o metodo .info() pra descobrir quantas entradas existem

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

Qual e o BasePay medio?

In [7]:
sal['BasePay'].mean()

np.float64(66325.44884048769)

Qual e a maior quantidade de OvertimePay no conjunto de dados?

In [9]:
sal['OvertimePay'].max()

245131.88

Qual e o cargo de Joseph Driscoll? Nota:Use todas as maisculas, caso contrario voce pode obter uma resposta que nao coincida(ha tbm um joseph driscoll com minusculas)

In [12]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

Quanto JOSEPH DRISCOLL ganha (incluindo beneficios)

In [13]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

Qual o nome da pessoa mais bem paga(incluindo beneficios)

In [14]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

Qual o nome da pessoa paga mais baixa (incluindo beneficios)?  voce percebe algo estranho sobre o quanto ele ou ela e paga?

In [15]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()] #o salario esta negativo

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

Qual foi a media BasePay de todos os funcionario por ano?(2011 - 2014)

In [16]:
group = sal.groupby('Year')

In [17]:
group['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Quantos titulos de trabalho unicos existem?

In [18]:
sal['JobTitle'].nunique()

2159

Qual os 5 principaos empregos mais comuns

In [30]:
sal['JobTitle'].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

Quantos titulos de trabalho foram representados por apenas uma pessoa em 2013?(por exemplo, titulos de trabalho com apenas uma ocorrencia em 2013)

In [21]:
sal[sal['Year'] == 2013]['JobTitle'].value_counts().loc[lambda x: x == 1].count()

np.int64(202)

Quantas pessoas tem a palavra chefe em seu cargo?(isso e bastante complicado)

In [23]:
sal['JobTitle'].apply(lambda x: 'CHIEF' in x.upper()).sum()

np.int64(627)

Bonus: existe uma correlacao entre o comprimento da sequencia do tutlo do trabalho e salario?

In [26]:
sal['Tamanho_String'] = sal['JobTitle'].apply(len) #esse eu tive um pouco de dificuldade ai fui para a solucao

In [27]:
sal[['Tamanho_String', 'TotalPayBenefits']].corr()

                  Tamanho_String  TotalPayBenefits
Tamanho_String          1.000000         -0.036878
TotalPayBenefits       -0.036878          1.000000